.mainContainer{
    width: 100%;
    height: 160vh;
    // background: red;
    float: left;
}

.aboutContainer{
    width: 100%;
    height: 40vh;
    background: #2B4458;
    float: left;
}

.aboutHeaderText{
    margin-top: 60px;
    color: white;
    font-size: 36px;
}

.subHeadText{
    margin-top: 60px;
    color: white;
    font-size: 25px;
}

.marketingContainer{
    width: 100%;
    height: 40vh;
    background: #C7C6C1;
    float: left;
}