@import '../../../Scss/Style.scss';

@font-face {
    font-family: "PoppinsRegular";
    src: url("../../../Fonts/Poppins_Regular.ttf");
  }

  @font-face {
    font-family: "PoppinsBold";
    src: url("../../../Fonts/Poppins_Bold.ttf");
  }

  .mainContainer{
    width: 100vw;
    height: 390px;
    margin-top: 150px;
    background: #C7C6C1;
    float: left;
  }