.marketingContainer{
    width: 100%;
    height: 40vh;
    background: #C7C6C1;
    float: left;
}
.marketingSubHeadText{
    margin-top: 60px;
    font-size: 25px;
    color: black;
}

.marketingHeaderText{
    margin-top: 60px;
    color: black;
    font-size: 36px;
}