.logo{
    width: 72px;
    height: 72px;
    margin-top: 13px;
    margin-left: 60px;
    border-radius: 360px;
    background: red;
    background-image: url('../../../Assets/ArcaneEdge_Logo.png');
    background-position: center;
    background-size: cover;
    float: left;
}