@import '../../../Scss/Style.scss';

@font-face {
    font-family: "AvenirMedium";
    src: url("../../../Fonts/Avenir_Medium.ttf");
  }

  @font-face {
    font-family: "AvenirRegular";
    src: url("../../../Fonts/Avenir_Regular.ttf");
  }

  @font-face {
    font-family: "AvenirBlack";
    src: url("../../../Fonts/Avenir_Black.ttf");
  }

  @font-face {
    font-family: "PoppinsRegular";
    src: url("../../../Fonts/Poppins_Regular.ttf");
  }

  @font-face {
    font-family: "PoppinsBold";
    src: url("../../../Fonts/Poppins_Bold.ttf");
  }

// .demoVid{
//     width: 100px;
//     height: 100px;
//     float: left;
// }

.videoContainer {
    // width: 100%;
    // height: 100%;
    // position: relative;
    // overflow: hidden;
    position: absolute;
    width: 100%;
    height: 540px;
    z-index: 1;
  }
  
  .responsiveVideo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will cover the container while maintaining aspect ratio */
  }

  .contentOverlay {
    position: relative;
    z-index: 2;
    /* Add any existing padding/margin you had before */
  }


.mainContainer{
    position: relative;
    width: 100%;
    height: 100%;
    // width: 100vw;
    // height: 540px;
    // background-image: url('../../../../Assets/heroPicture.png');
    // background-size: cover;
    // background-position: bottom;
}

.allHeroComps{
    width: 420px;
    height: 328px;
    margin-top: 60px;
    margin-left: 90px;
    // background: blue;
    float: left;

    .allTextContainer{
        width: 420px;
        height: 272px; 
        // background: grey;
        float: left;

        .headerContainer{
            width: 365px;
            height: 106px;
            float: left;

            .headerText{
                font-size: 50px;
                font-family: AvenirMedium;
                text-align: start;
                margin-top: 10px;
                line-height: 50px;
                color: #FFFEFE;
                text-shadow: -1px 2px 4px   rgb(56 156 219 / 0.75), -0.5px 2px 3px  rgb(180 226 255 / 0.75),0px 4px 4px  rgb(255 255 255 / 0.27);
                float: left;
            }
        }

        .subHeadContainer{
            width: 420px;
            height: 30px;
            // background: red;
            margin-top: 10px;
            float: left;

            .subHeadText{
                font-size: 22px;
                font-family: AvenirMedium;
                color: #FFFEFE;
                text-shadow: -1px 2px 4px   rgb(56 156 219 / 0.75), -0.5px 2px 3px  rgb(180 226 255 / 0.75),0px 4px 4px  rgb(255 255 255 / 0.27);
                float: left;
            }
        }

        .bodyContainer{
            width: 420px;
            height: 30px;
            // background: red;
            margin-top: 20px;
            float: left;  

            .bodyText{
                font-size: 16px;
                text-align: start;
                font-family: AvenirMedium;
                color: #FFFEFE;
                float: left;
            }
        }

    }

    .exploreBtnContainer{
        width: 420px;
        height: 40px;
        margin-top: 115px;
        // background: green;
        float: left;

        .exploreBtn{
            width: 194px;
            height: 38px;
            border-radius: 19px;
            background: #47697A;
            box-shadow: -5px 5px 4px 0px  rgb(0 0 0 / 0.25), -5px 5px 4px 0px rgb(0 0 0 / 0.15), 3px 0px 4.5px 0px rgb(255 255 255 /0.70);
            float: left;

            .btnText{
                margin-top: 9px;
                color: #C7C6C1;
            }
        }
        .exploreBtn:hover{
            background: #2E4559
        }
    }
}



.headerContainer{
    width: 355px;
    height: 120px;
    float: left;
}

