.technologyContainer{
    width: 100%;
    height: 40vh;
    background: #2B4458;
    float: left; 
}

.technologySubHeadText{
    margin-top: 60px;
    font-size: 25px;
    color: white;
}

.technologyHeaderText{
    margin-top: 60px;
    color: white;
    font-size: 36px;
}