@import '../../Scss/Style.scss';

@font-face {
    font-family: "PoppinsRegular";
    src: url("../../Fonts/Poppins_Regular.ttf");
  }

  @font-face {
    font-family: "PoppinsBold";
    src: url("../../Fonts/Poppins_Bold.ttf");
  }

  .cardOne{
    width: 227px;
    height: 349px;
    margin-top: 17px;
    margin-left: 60px;
    border-radius: 21px;
    background: #D9D9D9;
    box-shadow: -14px 16px 4px  rgb(0 0 0 / 0.15), -14px 20px 4px 0px rgb(0 0 0 / 0.25),-9px 11px 4px 0px rgb(56 156 219 / 0.75), -4px 4px 3px 0px rgb(180 226 255 / 0.75), -2px 4px 4px 0px rgb(255 255 255 / 0.25), 5px -3px 4.5px 0px rgb(255 255 255 / 0.70);
    float: left;

    .imgContainer{
      width: 227px;
      height: 181px;
      border-radius: 21px 21px 0px 0px;
      background-image: url('../../../Assets/AboutUs.jpg');
      background-size: cover;
      background-position: center;
    }
    .aboutUsHeading{
      font-family: "PoppinsBold";
      font-size: 18px;
      margin-top: 7px;
    }

      .aboutUsText{
        font-family: "PoppinsRegular";
        font-size: 11px;
        padding: 10px;
      }

    .learnBtn{
      width: 90px;
      height: 25px;
      border-radius: 12.5px;
      margin-left: 64px;
      margin-top: 10px;
      background: #C3C1B6;
      box-shadow: -5px 5px 4px 0px rgb(0 0 0 / 0.25) , -5px 5px 4px 0px rgb(0 0 0 / 0.15), 3px 0px 4.5px 0px rgb(255 255 255 / 0.70);
      float: left;

      .learnBtnText{
        font-size: 12px;
        font-family: PoppinsRegular;
        margin-top: 4px;
        cursor: pointer;
      }
    }
    .learnBtn:hover{
      background: #AED3EA;
    }
  }

  // End Card One



  .cardTwo{
    width: 227px;
    height: 349px;
    margin-top: 17px;
    margin-left: 60px;
    border-radius: 21px;
    background: #D9D9D9;
    box-shadow: -14px 16px 4px  rgb(0 0 0 / 0.15), -14px 20px 4px 0px rgb(0 0 0 / 0.25),-9px 11px 4px 0px rgb(56 156 219 / 0.75), -4px 4px 3px 0px rgb(180 226 255 / 0.75), -2px 4px 4px 0px rgb(255 255 255 / 0.25), 5px -3px 4.5px 0px rgb(255 255 255 / 0.70);
    float: left;

    .imgContainer{
      width: 227px;
      height: 181px;
      border-radius: 21px 21px 0px 0px;
      background-image: url('../../../Assets/WhyUs.jpg');
      background-size: cover;
      background-position: center;
    }
    .aboutUsHeading{
      font-family: "PoppinsBold";
      font-size: 18px;
      margin-top: 7px;
    }

      .aboutUsText{
        font-family: "PoppinsRegular";
        font-size: 11px;
        padding: 10px;
      }

    .learnBtn{
      width: 90px;
      height: 25px;
      border-radius: 12.5px;
      margin-left: 64px;
      margin-top: 10px;
      background: #C3C1B6;
      box-shadow: -5px 5px 4px 0px rgb(0 0 0 / 0.25) , -5px 5px 4px 0px rgb(0 0 0 / 0.15), 3px 0px 4.5px 0px rgb(255 255 255 / 0.70);
      float: left;


      .learnBtnText{
        font-size: 12px;
        font-family: PoppinsRegular;
        margin-top: 4px;
        cursor: pointer;
      }

    }
    .learnBtn:hover{
      background: #AED3EA;
    }
  }




  .cardThree{
    width: 227px;
    height: 349px;
    margin-top: 17px;
    margin-left: 60px;
    border-radius: 21px;
    background: #D9D9D9;
    box-shadow: -14px 16px 4px  rgb(0 0 0 / 0.15), -14px 20px 4px 0px rgb(0 0 0 / 0.25),-9px 11px 4px 0px rgb(56 156 219 / 0.75), -4px 4px 3px 0px rgb(180 226 255 / 0.75), -2px 4px 4px 0px rgb(255 255 255 / 0.25), 5px -3px 4.5px 0px rgb(255 255 255 / 0.70);
    float: left;

    .imgContainer{
      width: 227px;
      height: 181px;
      border-radius: 21px 21px 0px 0px;
      background-image: url('../../../Assets/Technology.jpg');
      background-size: cover;
      background-position: center;
    }
    .aboutUsHeading{
      font-family: "PoppinsBold";
      font-size: 18px;
      margin-top: 7px;
    }

      .aboutUsText{
        font-family: "PoppinsRegular";
        font-size: 11px;
        padding: 10px;
      }

    .learnBtn{
      width: 90px;
      height: 25px;
      border-radius: 12.5px;
      margin-left: 64px;
      margin-top: 10px;
      background: #C3C1B6;
      box-shadow: -5px 5px 4px 0px rgb(0 0 0 / 0.25) , -5px 5px 4px 0px rgb(0 0 0 / 0.15), 3px 0px 4.5px 0px rgb(255 255 255 / 0.70);
      float: left;


      .learnBtnText{
        font-size: 12px;
        font-family: PoppinsRegular;
        margin-top: 4px;
        cursor: pointer;
      }

    }
    .learnBtn:hover{
      background: #AED3EA;
    }
  }





  .cardFour{
    width: 227px;
    height: 349px;
    margin-top: 17px;
    margin-left: 60px;
    border-radius: 21px;
    background: #D9D9D9;
    box-shadow: -14px 16px 4px  rgb(0 0 0 / 0.15), -14px 20px 4px 0px rgb(0 0 0 / 0.25),-9px 11px 4px 0px rgb(56 156 219 / 0.75), -4px 4px 3px 0px rgb(180 226 255 / 0.75), -2px 4px 4px 0px rgb(255 255 255 / 0.25), 5px -3px 4.5px 0px rgb(255 255 255 / 0.70);
    float: left;

    .imgContainer{
      width: 227px;
      height: 181px;
      border-radius: 21px 21px 0px 0px;
      background-image: url('../../../Assets//Marketing.jpg');
      background-size: cover;
      background-position: center;
    }
    .aboutUsHeading{
      font-family: "PoppinsBold";
      font-size: 18px;
      margin-top: 7px;
    }

      .aboutUsText{
        font-family: "PoppinsRegular";
        font-size: 11px;
        padding: 10px;
      }

    .learnBtn{
      width: 90px;
      height: 25px;
      border-radius: 12.5px;
      margin-left: 64px;
      margin-top: 10px;
      background: #C3C1B6;
      box-shadow: -5px 5px 4px 0px rgb(0 0 0 / 0.25) , -5px 5px 4px 0px rgb(0 0 0 / 0.15), 3px 0px 4.5px 0px rgb(255 255 255 / 0.70);
      float: left;


      .learnBtnText{
        font-size: 12px;
        font-family: PoppinsRegular;
        margin-top: 4px;
        cursor: pointer;
      }

    }
    .learnBtn:hover{
      background: #AED3EA;
    }
  }