@import '../../Scss/Style.scss';

.header{
width: 100vw;
height: 97px;    
background: #C7C4BD;
display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

a{
    color: #565A5C;
    text-decoration: none;
    font-size: 20px;
    padding-left: 80px;
}

a:hover{
    color: #1E222B;
}

.links_container{
    width: 90vw;
    height: 5vh;
    margin-left: -100px;
    // background: red;
    margin-top: 15px;
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

a:visited{
    color: #565A5C;
    text-decoration: none;
    font-size: 20px;
    padding-left: 80px;
}

a:active{
    color: #565A5C;
    text-decoration: none;
    font-size: 20px;
    padding-left: 80px;
}


a:link {
    text-decoration: none;
}



a:hover {
    text-decoration: none;
    color: #1E222B;
}


